---
title: "公開中　作家リスト"
---

<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<title><%= current_page.data.title %>：<%= FIRST_CHAR_MAP_K[first_char] %>行</title>
<style type="text/css">
<!--
body{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    line-height: 150%;
}
a:hover{
    color: white;
    background-color: #0000ff;
}
h1{
    color: black;
    background-color: #ffffcc;
    padding: 10pt;
    border-color: black;
    border-width: 1pt 0 1pt 0;
    border-style: solid none solid none;
    font-size: 150%;
}
h2{
    color: black;
    background-color: #d3d3d3;
    padding: 5pt;
    border-color: black;
    border-width: 1pt 0 1pt 0;
    border-style: solid none solid none;
    text-indent: 1em;
}
table{
    margin-left: 1em;
    padding: 0.5em 0em 0.5em 1em;
}
td{
    line-height:150%;
}
ol{
    padding: 0.5em 0em 0.5em 2em;
    margin-left: 2em;
    line-height: 150%;
}
div.copyright{
    background-color: white;
    margin: 0.5em 0em 0.5em 2em;
}
span.current{
    font-weight: bold;
    color: red;
}
-->
</style>
</head>

<body text="#000000" bgcolor="#f0f8ff" link="#0000ff" vlink="#00008B" alink="#ff0000">
<a name="top">&nbsp;</a>
<div align="right">●<a href="../index.html">トップ</a>　●<a href="index_top.html">インデックス</a>　●<span class="current">作家リスト</span></div>

<div align="center"><h1><%= current_page.data.title %>：<%= FIRST_CHAR_MAP_K[first_char] %>行</h1></div>

<div align="right">
<% FIRST_CHAR_MAP_ALL[first_char].each_with_index do |(h,k), idx| %><a href="#sec<%= idx+1 %>">[<%= k %>]</a>　<% end %>
</div>

<% list = select_list(data.person_detail) %>
<% FIRST_CHAR_MAP_ALL[first_char].each_with_index do |(h,k), idx| %>
<h2><a name="sec<%= idx+1 %>"><%= k %></a></h2>
<ol>
<%
   list[first_char]&.each do |person|
     ch = make_first_char(person['name_kana'])
     if ch == k && person["work"].size > 0
%>
<li><a href="person<%= person["id"] %>.html"><%= person["name"] %></a>　(公開中：<%= person["work"].size %>)　<%= copyright_tag(person['copyright'])  %>　<%= base_person_tag(person['alt_id'], person['alt_name']) %></li>
<%   end %>
<% end %>
</ol>
<div align="right"><a href="#top">▲</a></div>
<% end %>

<hr>

<div>●作家リスト<%= author_list_index(FIRST_CHAR_MAP[first_char], "") %>
<br>
●<a href="../index.html">トップ</a>　●<a href="index_top.html">インデックス</a></div>

</body>
</html>
