<html>
<head>
<title>新規公開作品</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<!--
body{
    background: #f0f8ff;
    margin-left:3%;
    margin-right:3%;
    margin-top:3%;
    margin-bottom:2%;
    line-height: 150%;
}

h1{
    padding: 10pt;
    background-color: #ffffcc;
    font-size: 150%;
    text-align: center;
    border-color: black;
    border-width: 1pt 0 1pt 0;
    border-style: solid none solid none;
}

table.list{
    background-color: #ffffff;
}

td.title {
    valign: top;
    align: center;
    background: #ffffcc;
    collor: #000000;
}

td.normal {
    background: #ffffff;
    collor: #000000;
}

a:hover{
    color: white;
    background-color: #0000ff;}
// end -->
</style>
</head>
<body>
<h1><%= title %></h1>
<div align="center">
最終更新日　<%= cur_date['year'] + cur_date['mon'] + cur_date['mday'] %><br>
<br>
<%= msgStr %>
</div>
<br>
<center>
<%= pageStr %>
<!--table align=center border=0>
    <tr>
        <td align="left" valign="bottom"></td>
        <td  align="right" valign="bottom">ページ：<font size="5">1</font> <a href="whatsnew_02.html">2</a> <a href="whatsnew_03.html">3</a> </td>
        <td width=90 align="right" valign="bottom"><a href="whatsnew_02.html">次の50件</a></td>
    </tr>
</table-->
<table cellSpacing="1" cellpadding="3" border="1" class="list" width="760">
      <tr valign="top">
        <td class="title" width="100">公開日</td>
        <td class="title" width="220">作品名<br>副題 </td>
        <td class="title" width="110">著者名 </td>
        <td class="title" width="110">入力者名</td>
        <td class="title" width="110">校正者名</td>
        <td class="title" width="110">翻訳者名等 </td>
      </tr>
<!-------------------------- Loop Start ---------------------------->
<%= list %>
<!-------------------------- Loop End ---------------------------->
</table>
<div align="right"><a href="#top" title="このページの先頭へ">▲</a></div>
<%= pageStr %>
<!--table align=center border=0>
    <tr>
        <td align=left valign=bottom></td>
        <td  align=right valign=bottom>ページ：<font size="5">1</font> <a href="whatsnew_02.html">2</a> <a href="whatsnew_03.html">3</a> </td>
        <td width=90 align=right valign=bottom><a href="whatsnew_02.html">次の50件</a></td>
    </tr>
</table-->
<BR>
<% if endPage %>
<FONT size="-1">
<% for i in (2001 .. year2) do %>
<A href="whatsnew_<%= i %>_1.html"><%= i %>年</A><BR>
<% end %>
</FONT>
<% end %>
</center>
<br>
<div align="left">
●<a href="../index.html">トップページへ</a>　●<a href="index_top.html">総合インデックスへ</a>
</div>
</body>
</html>
